body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

h1, h3{
    text-align:center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
}


.thumbnail {
    width: 150px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;  /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.lightbox.show {
    display: flex;
    opacity: 1;
}


.lightbox-content {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
    display: block;
    transition: transform 0.3s;
}


.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: red;
}
